<mat-toolbar style="height:60px;">
    <mat-toolbar-row>
        <mat-icon class="logo">sports_soccer</mat-icon>
        <span class="text-logo">Финансовая сборная</span>
        <span class="spacer"></span>
        <button mat-button>Дашборд</button>
        <button mat-button>Аналитика</button>
        <button mat-button>Транзакции</button>
        <button mat-button class="main-user"> <mat-icon class="logo">face</mat-icon>Пользователь</button>
    </mat-toolbar-row>
</mat-toolbar>

<div class="main-landing">
    <div class='main-landing-text-container'>
        <span class="main-landing-title">Финансы 2024</span>
        <div class="main-landing-block">
            <div class="main-landing-dark-block"></div>
            <span class="main-landing-subtitle">Доходы</span>
        </div>
        <div class="main-landing-block">
            <div class="main-landing-light-block"></div>
            <span class="main-landing-subtitle">Расходы</span>
        </div>

    </div>

    <div class='main-landing-card-container'>
        <mat-card class='main-landing-card' appearance="outlined">
            <mat-card-content>
                <mat-icon>arrow_forward_ios</mat-icon>
                <p class='main-landing-card-text'>
                    Инвестиции и вклады
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card class='main-landing-card' appearance="outlined">
            <mat-card-content>
                <mat-icon>arrow_forward_ios</mat-icon>
                <p class='main-landing-card-text'>
                    Управление капиталом
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card class='main-landing-card' appearance="outlined">
            <mat-card-content>
                <mat-icon>arrow_forward_ios</mat-icon>
                <p class='main-landing-card-text'>
                    Доходы и расходы
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card class='main-landing-card' appearance="outlined">
            <mat-card-content>
                <mat-icon>arrow_forward_ios</mat-icon>
                <p class='main-landing-card-text'>
                    Пенсионные планы
                </p>
            </mat-card-content>
        </mat-card>
    </div>
</div>